body {
  background-color: #080710;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  height: 200px;
  width: 200px;
  background: linear-gradient(#1845ad, #23a2f6);
  left: 20%; 
  top: 10%;  
}

.shape:last-child {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right, #ff512f, #f09819);
  right: 25%; 
  bottom: 5%; 
}

.auth-screen {
  position: relative;
  width: 90%; 
  max-width: 400px; 
  background: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  color: #ffffff;
  z-index: 1; 
  text-align: center; 
}

.auth-screen h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em; 
  font-weight: 500;
  margin-bottom: 30px;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  outline: none;
  border: none;
}

input::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .shape {
      height: 150px;
      width: 150px;
  }

  .shape:first-child {
      left: 30%; 
      top: 15%;
  }

  .shape:last-child {
      right: 30%;
      bottom: 5%;
  }

  .auth-screen {
      padding: 40px 20px; 
  }
}

@media (max-width: 480px) {
  .shape {
      height: 120px;
      width: 120px;
  }

  .shape:first-child {
      left: 25%; 
      top: 10%;
  }

  .shape:last-child {
      right: 25%;
      bottom: 0;
  }

  .auth-screen {
      padding: 30px 15px; 
  }

  .auth-screen h1 {
      font-size: 1.5em; 
  }
}


input[type="file"] {
  display: block;
  width: 100%;
  background: none;
  color: #ffffff;
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  background: rgba(255, 255, 255, 0.07);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
